<header class="project-header">
	<section class="project-details">
		<h1 class="project-title"><%= project.escape("title") %></h1>
		<h2 class="project-description"><%= project.escape("description") %></h2>
	</section>
	<% if (project.get("owner_id") === project.get("current_user_id")) { %>
	<section class="invite-link">
		<a href="#projects/<%= project.id %>/add">Invite more people</a>
	</section>
	<% } %>
<section class="item-totals group">
	<a href="#projects/<%= project.id %>/discussions">
		<%= project.discussions().length %> Discussions
	</a>
	<a href="#projects/<%= project.id %>/todoLists">
		<%= project.toDoLists().length %> To-Do Lists
	</a>
</section>
</header>

<span>Discussions</span>
<a class="new-discussion" href="<%= "#projects/" + project.id + "/discussions/new" %>">
	Post a new message
</a>
<table class="discussions"></table>
<% if (extraDiscussionCount > 0) { %>
	<a class="more-discussions"
		 href="#projects/<%= project.id %>/discussions">
		<%= extraDiscussionCount %> More Discussions
	</a>
<% } %>
<span>To-do lists</span>
<button class="todo-list-form-show">Add a to-do list</button>
<section class="todo-lists"></section>
