<a class="project-link"
   href="#projects/<%= project.id %>"><%= project.escape("title") %></a>

<h1>Find Collaborators</h1>

<% users.forEach(function (user) { %>
  <li class="show-user">
    <span class="user-name"><%= user.escape("fname") %> <%= user.escape("lname") %></span>
    <% if (collaborators.get(user.id)) { %>
      <button class="remove-collaborator"
              data-user-id="<%= user.id %>">Remove</button>
    <% } else {%>
      <button class="add-collaborator"
              data-user-id="<%= user.id %>">Add</button>
    <% } %>

    </li>
<% }) %>
