/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, h1, h2, h3, p, ul, li, a,
button, input, section, article, textarea {
  background: transparent;
  display: block;
  font: inherit;
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

input {
  outline: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 11px;
}

body {
  background-color: black;
  color: black;
  font-family: sans-serif;
  background-image: url("Crab-Nebula-Cameraplex.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-width: 800px;

}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

#content {
  width: 900px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  /*background: white;*/
  border-radius: 3px;
  /*box-shadow: 0 0 6px rgba(0,0,0,0.3);*/
  padding-bottom: 30px;
  padding-left: 20px;
  padding-top: 10px;
  min-height: 700px;
}

button {
  cursor: pointer;

  &:active {
    background-color: #ccc;
  }
}

h1 {
  font-size: 36px;
}

input[type="checkbox"] {
  font-size: larger;
}

.ui-sortable-helper {
  -ms-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
  z-index: 1000;
  position: relative;
}

.show {
  display: block;
}
