// Place all the styles related to the discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.discussions-index {
  margin-left: 20px;

  .discussions-head {
    font-size: 20px;
    color: #900;
    padding: 0px 0px 10px 20px;
  }

  // .content {
  //   width: 90%;
  //   padding: 20px;
  //   border-bottom: 1px solid #aaa;
  //   margin-bottom: 10px;
  // }
}

.discussion-form {
  margin-left: 20px;

  h1 {
    padding: 0px 20px 10px 0px;
    font-size: 24px;
    font-weight: bold;
  }

  input {
    display: block;
    background: white;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    width: 50%;
  }

  textarea {
    display: block;
    background: white;
    resize: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    width: 50%;
  }

  button {
    border: 1px solid #016c43;
    background-color: #00a264;
    color: white;
    font-size: 16px;
    box-shadow: 0px 1px 0px #016c43;
    padding: 6px 20px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 5px;
    display: inline-block;

    &:active {
      background-color: #016c43;
    }

    &:hover {
      color: #ddd;
    }
  }

  .cancel {
    display: inline;
    color: white;
    padding: 6px 20px;
    margin-left: 5px;
    border: 1px solid darkred;
    box-shadow: 0px 1px 0px darkred;
    border-radius: 5px;
    background-color: red;

    &:active {
      background-color: darkred;
    }

    &:hover {
      color: #ddd;
    }
  }
}

.discussions {
  margin: 10px 0px 20px 20px;
  border-collapse: collapse;
  width: 90%;

  tr {
    border-bottom: 1px solid #aaa;
  }

  td {
    padding: 10px 10px 10px 0px;
    position: relative;

    > a {
      float: left;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      text-decoration: none;
    }

    :hover {
      cursor: pointer;
    }

    .discussion-title {
      font-weight: bold;
    }

    .discussion-summary {
      color: #666;
      padding-left: 10px;
    }

  }

  .content-date {
    span {
      font-size: 12px;
      color: #aa9c84;
      float: right;
      text-align: right;
    }
  }
}

.discussion-show {
  margin-left: 20px;
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  > .content {
    width: 90%;
    padding: 20px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
  }

  ul {
    float: right;
    margin-right: 6.5%;
  }

  li {
    padding-bottom: 5px;
  }

  .comments {
    margin-top: 20px;
  }

  .comment-article {
    width: 94.5%;
    border-bottom: 1px solid #aaa;
    margin-bottom: 5px;
  }

  .name {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .comment {
    margin-left: 10px;
  }

  .time {
    display: block;
    font-size: 12px;
    padding-top: 2px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: #aa9c84;
  }
}
