.project-form {
  margin-left: 20px;

  h1 {
    padding: 20px 20px 10px 0px;
    font-size: 24px;
    font-weight: bold;
  }

  input {
    display: block;
    background: white;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    width: 50%;
  }

  textarea {
    display: block;
    background: white;
    resize: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    width: 50%;
  }

  button {
    border: 1px solid #016c43;
    background-color: #00a264;
    color: white;
    font-size: 16px;
    box-shadow: 0px 1px 0px #016c43;
    padding: 6px 20px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 5px;
    display: inline-block;

    &:active {
      background-color: #016c43;
    }

    &:hover {
      color: black;
    }
  }

  > a {
    display: inline;
    color: white;
    padding: 6px 20px;
    margin-left: 5px;
    border: 1px solid darkred;
    box-shadow: 0px 1px 0px darkred;
    border-radius: 5px;
    background-color: red;

    &:active {
      background-color: darkred;
    }

    &:hover {
      color: black;
    }
  }
}

.project-link {
  color: #1c5c76;
  text-decoration: underline;
  font-size: 24px;
  padding: 20px 20px 20px 0px;
  font-weight: bold;
}

.project-show {
  .more-discussions {
    display: block;
    padding: 20px;
    padding-top: 0px;
    color: #1c5c76;
    text-decoration: underline;
  }

  .project-header {
    position: relative;

    h1 {
      font-size: 24px;
      font-weight: bold;
      padding: 20px 20px 10px 20px;
    }

    h2 {
      font-size: 16px;
      padding: 0px 0px 20px 20px;
      color: #aa9c84;
    }

    a {
      position: absolute;
      top: 25px;
      right: 25px;
      color: #1c5c76;
      text-decoration: underline;
    }

    .item-totals {
      display: block;
      margin-left: 10px;
      margin-bottom: 10px;
      margin-right: 30px;
      padding: 10px 0px;
      border-top: 1px solid #aaa;
      border-bottom: 1px solid #aaa;

      a {
        float: left;
        position: static;
        padding: 0px 10px;
      }

    }
  }


  > span {
    font-weight: normal;
    font-size: 20px;
    padding: 0px 0px 10px 20px;
    color: #900;
  }

  .todo-lists-label {
    padding-top: 20px;
  }

  .new-discussion {
    margin-left: 10px;
    display: inline;
    padding: 3px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 0px 1px 0px #ddd;
    position: relative;
    top: -2px;


    &:active {
      background-color: #ccc;
      color: black;
    }
  }

}
