// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content {

  .edit-user {
    margin-left: 20px;

    h1 {
      font-size: 24px;
      font-weight: bold;
      padding: 20px 20px 10px 0px;
    }

    input {
      display: block;
      background-color: white;
      border: 1px solid #aaa;
      border-radius: 3px;
      font-size: 16px;
      padding: 5px;
      margin: 5px 0px 20px 0px;
    }
  }

  .projects-list {
    margin: 20px;
    margin-top: 0px;

    h1 {
      padding: 20px 20px 10px 0px;
      font-size: 24px;
      font-weight: bold;
    }

    .project-tile {
      position: relative;
      float: left;
      background-color: #add8e6;
      border: 1px solid black;
      margin-right: 10px;
      margin-bottom: 10px;
      width: 200px;
      height: 200px;
      border-radius: 5px;
      box-shadow: 1px 1px 0px 0px #aaa;

      &:hover {
        background-color: #83cae1;
      }

      &:active {
        box-shadow: 0px 0px 0px 0px #aaa;
      }

      > a {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .ownership-status {
        display: block;
        margin: auto;
        text-align: center;
        color: #aa9c84;
      }
    }


    .project-title {
      text-align: center;
      margin-top: 10px;
      font-size: 24px;
      font-weight: bold;
    }

    .project-description {
      margin: 10px;
    }

    .new-project-tile {
      position: relative;
      float: left;
      background-color: #cce3c0;
      border: 1px solid black;
      margin-right: 10px;
      margin-bottom: 10px;
      width: 200px;
      height: 200px;
      border-radius: 5px;
      box-shadow: 1px 1px 0px 0px #aaa;

      &:hover {
        background-color: #b6e1a0;
      }

      &:active {
        box-shadow: 0px 0px 0px 0px #aaa;
      }

      > a {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      h2 {
        text-align: center;
        margin-top: 10px;
        font-size: 24px;
        font-weight: bold;
      }

      p {
        margin: 10px;
      }

    }
  }
}
